body{
    font-family: 'Montserrat', sans-serif;
    width: 1480px;
    height: 526px;
    background: #FFFFFF;
    margin:auto;
	padding:auto;


}

.header{
    background:#FFFFFF;;
    width:100%;
    height:auto;
    text-align:center;
    color:#FFFFFF;
    font-size:24px;
    padding-top:20px;
 
}

.header-menu{
    padding: 10px;
}
.menu .menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu .menu-list .menu-item{
    display:inline-block;
    vertical-align: middle;

    font-size: 36px;
    line-height: 36px;
    
}

.menu .menu-list .menu-item a{
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    line-height: 17px;
    color: #FF0000;
    padding: 0 13px;
	vertical-align: middle;

}

.main{
    display: inline-block;
    padding-left: 67.5px;
    padding-right: 67.5px;
    padding-bottom: 40px;
    padding-top:25.5px;  
}
.images-wrap{
    text-align: center;
    

}
.main-title{
    text-align: center;
    font-weight: bold;
    letter-spacing: 3.3px;
    line-height: 27px;
    font-size: 22px;
}
.main-text{
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 2.4px;
    color:  #373737;
    
 
}

.button{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: #FF0000; 
    Width: 200px;
    Height: 51px;
    Size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.8px;
    align-items: center;
    font-weight: bold;
    padding-top: auto;

}
.copyright {
    display: block;
    padding-left: 950px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    padding-bottom: 29px;
}